.content {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 0;
  gap: 5%;
}

.news {
  flex-basis: 30%;
  flex-shrink: 0;
  background-color: var(--background-inverse);
  color: var(--text-inverse);
  padding: 0 20px 10px;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    gap: 30px;
  }
}

.news .date {
  font-style: italic;
}

.news a {
  color: inherit;
}

.news .archive {
  display: block;
  text-align: right;
}
