.footer-wrapper {
  background: var(--background-inverse);
}

footer {
  margin-top: auto;
  min-height: 200px;
  padding: 30px 0 10px;
  color: var(--text-inverse);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

footer .menu li > a {
  text-decoration: underline;
}

footer a:hover {
  font-style: italic;
}

.developer img {
  float: left;
}

.developer a {
  color: inherit;
}
