.header-wrapper {
  background: var(--background);
}

header {
  min-height: 150px;
  color: var(--text);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
    width: min-content;
  }
}

.company {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company .name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.company .slogan {
  font-size: 1.8rem;
}

.phone-numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
}

.phone-numbers > * {
  font-stretch: ultra-condensed;
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 40px;
}

.main-nav-wrapper {
  background: var(--background-inverse);
}

nav.main {
  color: var(--text-inverse);
  font-size: 2.1rem;
}

nav.main ul {
  margin: 0;
  text-align: center;
  padding: 15px 0;
}

nav.main li + li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2.1rem;
  transform: translateY(3px);
  background-color: var(--text-inverse);
  margin: 0 10px;
}

.cover {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.cover > * {
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
